$main-font: Roboto;
$font-size-small: 16px;
$font-size-medium: 21px;
$font-size-large: 32px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$line-height-small: 26.25px;
$line-height-medium: 37.5px;
$line-height-large: 78.75px;

$primary-color: #34547a;

$text-color: #000000;
$text-color-secondary: #727272;
$text-color-white: #ffffff;

$left-padding: 20%;
$right-padding: 20%;

$button-width: 225px;
$button-height: 65px;
